<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Familiares</h1>
    <br>
    {% for person in family %}
        <p>Mi nombre es {{person.name}}.</p>
        <p>Tengo {{person.age}} años.</p>
        {% if person.study == True %}
            <p>Estoy estudiando.</p>
        {% else %}
            <p>No estoy estudiando.</p>
        {% endif %}
        <br>
    {% endfor %}
</body>
</html>